<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css" />
    <script> var exports = {}; </script>
    <script defer src="/js/delete.js"></script>
    <title>Admin</title>
</head>

<body>

    <header>
    
        <div class="header-item log-out">
            <a class="blacked log-out" href="/admin/logout">Log out</a>
        </div>
        <div class="header-item">
            <a class="blacked" href="/admin/adminusers">Users</a>
        </div>
        <!-- <div class="header-item">
            <a class="blacked" href="/admin/adminzamowienie">User's Orders</a>
        </div> -->
    </header>
    <main>

     <p id="dontForget" class="whiteBackground">Click on the combo box options located to the very left of the Products table to pick products you wish to delete<br />
    </p>
        <table>
            <caption>Products:</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th>Waga</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody id="tbody-interests">
                <% productList.forEach(function(product){ %>
                <tr>
                    <td><input type="checkbox" name="checkbox<%= product.id %>" value="<%= product.id %>"></td>
                    <form action="/admin/updateproduct" method="POST">
                        <td><%= product.id %></td>
                        <input type="hidden" name="id" value="<%= product.id %>" />
                        <td><input type="text" name="nazwa" required value="<%= product.nazwa %>"></td>
                        <td><input type="text" name="typ" required value="<%= product.typ %>"></td>
                        <td><input type="number" min="0" name="waga" required value="<%= product.waga %>"></td>
                        <td><input type="number" min="0" name="cena" required value="<%= product.cena %>"></td>
                        <td><button type="submit">Edit Product</button></td>

                    </form>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <br>
        <button onclick="deleteSelectedProducts()" id='deleteBtn' type="submit">Delete Selected Products</button>
        <br>
        <hr>
        <br>
        <p class="blacked">Add new product to system:</p>
        <form action="/admin/addproduct" method="POST">
            <p class="blacked">new product name: (MUST CONTAIN ONLY PLAIN LETTERS)</p>
            <input type="text" name="nazwa" placeholder="Write product name here" required>
            <p class="blacked">new product type: (MUST CONTAIN ONLY PLAIN LETTERS)</p>
            <input type="text" name="typ" placeholder="Write product type here" required>
            <p class="blacked">new product wage: (MUST CONTAIN ONLY NUMBERS)</p>
            <input type="number" min="0" name="waga" placeholder="Write product wage here" required>
            <p class="blacked">new product price: (MUST CONTAIN ONLY NUMBERS)</p>
            <input type="number" min="0" name="cena" placeholder="Write product price here" required>
            <br>
            <button class="btn" type="submit">Add Product</button>
        </form>


    </main>

    <footer>

    </footer>

</body>

</html>